{% extends "base.html" %} {% load static %} {% block body %}
<link rel="stylesheet" href="{% static 'css/ratings.css' %}" />

<div class="wrapper">
	<div class="header">
		<h1>Ratings</h1>
	</div>
	<div class="content">
		{% for Rate in Ratings %}
		<div class="Rate">
			<div>
				User:
				<span>({{Rate.Profile.User.id}}) {{Rate.Profile.User.username}}</span>
			</div>
			<div>Movie: <span>{{Rate.Movie.ShortName}}</span></div>
			<div>
				Rate:
				<span>
					{% with ''|center:Rate.Rating as range %} 
                        {% for i in range%}
                            <i class="fas fa-star"></i>
                        {% endfor %} 
                    {% endwith %}
				</span>
			</div>
			<div>RatedAt: <span>{{Rate.RatedAt}}</span></div>
			{% if Rate.Description %}
			<div>Description: <span>{{Rate.Description}}</span></div>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
