body {
	background: rgb(9, 32, 63);
	background: -moz-linear-gradient(
		111deg,
		rgba(9, 32, 63, 1) 14%,
		rgba(99, 149, 187, 1) 100%
	);
	background: -webkit-linear-gradient(
		111deg,
		rgba(9, 32, 63, 1) 14%,
		rgba(99, 149, 187, 1) 100%
	);
	background: linear-gradient(
		111deg,
		rgba(9, 32, 63, 1) 14%,
		rgba(99, 149, 187, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09203f",endColorstr="#6395bb",GradientType=1);
	width: 100vw;
	height: 100vh;
	margin: 0;
}

:root {
	--nav-height: 80px;
}

nav {
	position: fixed;
	height: var(--nav-height);
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav div {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav div.left,
nav div.rigth {
	flex: 0.5;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

nav div.left {
	margin-left: 2rem;
}
nav div.rigth {
	margin-right: 2rem;
}

nav div a button {
	padding: 10px 15px;
	font-size: 25px;
	color: #fff;
	border-radius: 5px;
	border: 0;
	outline: none;
	background: none;
	transition: 0.3s;
}

nav div a button:hover {
	transition: 0.3s;
	background-color: rgb(233, 233, 233);
	color: black;
}

body .wrapper {
	width: 100vw;
	height: calc(100vh - var(--nav-height));
	position: absolute;
	top: var(--nav-height);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Calibri;
}

.wrapper .header  {
	flex: 0.1;
}

.wrapper .content {
	flex: 0.9;
}
