body {
	background: rgb(9, 32, 63);
	background: -moz-linear-gradient(
		111deg,
		rgba(9, 32, 63, 1) 14%,
		rgba(99, 149, 187, 1) 100%
	);
	background: -webkit-linear-gradient(
		111deg,
		rgba(9, 32, 63, 1) 14%,
		rgba(99, 149, 187, 1) 100%
	);
	background: linear-gradient(
		111deg,
		rgba(9, 32, 63, 1) 14%,
		rgba(99, 149, 187, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09203f",endColorstr="#6395bb",GradientType=1);
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Calibri;
}

form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 35%;
	height: 50%;
	transform: scale(1.3);
}
form div:not(.inputdiv, .bottomdiv) {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
form div.inputdiv {
	margin: 10px 0 10px 0;
	display: flex;
	justify-content: center;
	padding: 5px 10px;
	background-color: rgb(149, 149, 149);
	border-radius: 5px;
}

form div.inputdiv i {
	font-size: 24px;
	margin-right: 10px;
}

form > div h1 {
	margin: 10px 0;
	font-size: 40px;
	user-select: none;
}

form > div select.selectdiv {
	margin-bottom: 10px;
	width: 80%;
	border: none;
	border-radius: 5px;
}

form div.inputdiv input {
	border: none;
	background: none;
}
form div.inputdiv input::placeholder {
	user-select: none;
}
form div.inputdiv input:focus {
	outline: none;
}

form div.bottomdiv {
	display: flex;
	flex-direction: column;
}

form div.bottomdiv a {
	font-size: 10px;
	color: rgb(149, 149, 149);
	text-decoration: underline;
	margin-right: auto;
}

form button {
	padding: 5px 10px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	background-color: #28a745;
	filter: brightness(80%);
	user-select: none;
}
form button:hover {
	filter: brightness(100%);
}

form button i {
	margin-left: 10px;
}
