body > .wrapper {
	height: calc(100vh - var(--nav-height));
}

.wrapper form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 40%;
	height: 40%;
}
.wrapper form .header {
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper form .content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 30%;
}
.wrapper form .content input,
.wrapper form .content textarea {
	margin-bottom: 5px;
}
