.wrapper .content {
	width: 90%;
	height: 90%;
	display: flex;
	flex-wrap: wrap;
	overflow-y: overlay;
	justify-content: center;
}

.wrapper > .content::-webkit-scrollbar {
	width: 6px;
	position: absolute;
}
.wrapper > .content::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 10px;
}
.wrapper > .content:hover::-webkit-scrollbar-thumb {
	background-color: purple;
}

.wrapper .content .Profile {
	margin: 20px;
	padding: 5px;
	max-height: 120px;
	border-radius: 5px;
	background-color: rgb(100, 100, 100);
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-around;
	text-decoration: none;
	color: black;
}
.wrapper .content .Profile:hover {
	background-color: rgb(180, 180, 180);
}
